{
  "extends": ["airbnb/base", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "max-len": [2, 120, 2],
    "no-use-before-define": [2, { "functions": false }]
  }
}
