{
  "extends": ["airbnb/base", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "max-len": ["error", 120, 2],
    "no-use-before-define": ["error", { "functions": false }],
    "arrow-parens": "off"
  }
}
