{
  "extends": ["airbnb/base", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "max-len": ["warn", 120, 2],
    "no-use-before-define": "off",
    "arrow-parens": "off",
    "no-plusplus": "off",
    "no-else-return": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "prefer-template": "off"
  }
}
